@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+BE+VLG:wght@100..400&family=Playwrite+DK+Loopet:wght@100..400&display=swap');

body{
  background-color: #fffcf2;
  overflow-x: hidden;
  scroll-behavior: smooth;
 transition-behavior: smooth;

}

#heading{
  font-family: "Playwrite BE VLG", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  

}

#text-heading{

  @media only screen and(max-width:600px) {
    display:flex;
    flex-direction: column;
  }
}